<header>
  <a href="" class="logo">LOGO</a>
  <nav>
    <a href="../pages/index.ejs">Home</a>
    <a href="../pages/sobre.ejs">Sobre</a>
    <a href="../pages/cadastro.ejs">Cadastro</a>
    <a href="../pages/login.ejs">Login</a>
  </nav>
</header>
