<table>
  <thead>
    <tr>
      <td scope="col">ID</td>
      <td scope="col">Nome</td>
      <td scope="col">Email</td>
      <td scope="col">Celular</td>
    </tr>
  </thead>

  <% for (let i = 1; i < 8; i++) { %>

  <tbody>
    <tr>
      <td><%= i %></td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
  </tbody>

  <% } %>
</table>
