<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- LINK EXTERNO DO JS e do CSS -->
    <!-- <script src="../static/js/scripts.js" defer></script> -->
    <link rel="stylesheet" href="../static/styles/styles.css" />

    <!-- TITULO DO SITE -->
    <title>Atividade Formulário</title>
  </head>
  <body>
    <%- include("menu") %>
    <!-- Chuva -->

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <!-- SEÇÃO QUE ENGLOBA O TITULO E IMAGEM -->
    <section class="container">
      <div class="imagem_container">
        <h1>Sobre a nossa empresa</h1>
        <p>
          teste atualização <br />
          Em construção, aguarde imediatamente
        </p>
      </div>
    </section>
    <%- include("footer") %>
  </body>
</html>
