<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/menu") %>
    <!-- Chuva -->

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <!-- SEÇÃO QUE ENGLOBA O TITULO E IMAGEM -->
    <section class="container">
      <div class="imagem_container">
        <h1>Sobre a nossa empresa</h1>
        <p>
          teste atualização <br />
          Em construção, aguarde imediatamente
        </p>
      </div>
      <div><%- include("../partials/usertable") %></div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
